body {
    font: 16px Arial, Calibri;
    background-image: url("bg.jpg");
    background-size: 1920px 1080px;
    position: absolute;
    overflow-x: hidden;
}

div#menu {
    width: 1920px;
    height: 100px;
    background-color: black;
    margin: -8px;
    color: black;
    display: block;
    position: absolute;
    font-size: 30px;
}

div#main_page {
    width: 634px;
    height: 90px;
    border-radius: 10px;
    background-color: white;
    display: inline-block;
    margin-top: 5px;
}

    div#main_page:hover {
        background-color: gray;
        color: white;
    }

div#mp_text {
    text-align: center;
    transform: translateY(100%);
}

div#films {
    width: 634px;
    height: 90px;
    border-radius: 10px;
    background-color: white;
    display: inline-block;
    margin-top: 5px;
}

    div#films:hover {
        background-color: gray;
        color: white;
    }

div#f_text {
    text-align: center;
    transform: translateY(100%);
}

div#add_film {
    width: 634px;
    height: 90px;
    background-color: white;
    border-radius: 10px;
    display: inline-block;
    margin-top: 5px;
}

    div#add_film:hover {
        background-color: gray;
        color: white;
    }

div#af_text {
    transform: translateY(100%);
    text-align: center;
}

div#af_form_box {
    width: 1500px;
    height: 800px;
    background-color: black;
    border: 1px solid white;
    border-radius: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin: -350px 0 0 -750px;
    overflow-y: scroll;
}

    div#af_form_box h1 {
        margin-left: 400px;
        color: white;
    }

    div#af_form_box p {
        color: white;
        font-size: 20px;
        margin-left: 8px;
    }

    div#af_form_box input {
        width: 550px;
        border: 1px solid white;
        border-radius: 6px;
        background-color: black;
        color: white;
    }

    div#af_form_box select {
        width: 120px;
        border: 1px solid white;
        border-radius: 6px;
        background-color: black;
        color: white;
    }

    div#af_form_box textarea#scenario {
        width: 800px;
        height: 250px;
        border: 1px solid white;
        border-radius: 8px;
        background-color: black;
        color: white;
        resize: vertical;
        overflow-y: hidden;
    }

    div#af_form_box::-webkit-scrollbar {
        width: 16px;
    }

    div#af_form_box::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px black;
        border: 2px solid white;
        border-radius: 10px;
    }

    div#af_form_box::-webkit-scrollbar-thumb {
        border-radius: 10px;
        border: 2px solid white;
        -webkit-box-shadow: inset 0 0 6px white;
    }

input#submit_button {
    width: 550px;
    height: 40px;
    color: white;
    font-size: 20px;
    background-color: black;
    padding-top: -15px;
}

    input#submit_button:hover {
        width: 550px;
        height: 40px;
        color: black;
        background-color: lime;
        border: 1px solid black;
        font-size: 20px;
    }

div#recentFilm {
    width: 1280px;
    height: 720px;
    background-color: black;
    margin-left: 24%;
    margin-top: 12%;
    border: 3px solid white;
    border-radius: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
    color: white;
}

h1#rc {
    color: white;
    margin-left: 30%;
}

h2#rc {
    color: white;
    margin-left: 5px;
}

img#rc {
    width: 1280px;
    height: 720px;
}

div#recentFilm::-webkit-scrollbar {
    width: 16px;
}

div#recentFilm::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px black;
    border: 2px solid white;
    border-radius: 10px;
}

div#recentFilm::-webkit-scrollbar-thumb {
    border-radius: 10px;
    border: 2px solid white;
    -webkit-box-shadow: inset 0 0 6px white;
}

h3#fc {
    color: white;
    margin-left: 5px;
    font-size: 14px;
}

img#fc {
    width: 480px;
    height: 270px;
}

body#filmsCollectionPage::-webkit-scrollbar {
    width: 16px;
    color: black;
    background-color: black;
}

body#filmsCollectionPage::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px black;
    border: 2px solid white;
    border-radius: 10px;
    color: black;
    background-color: black;
}

body#filmsCollectionPage::-webkit-scrollbar-thumb {
    border-radius: 10px;
    border: 2px solid white;
    -webkit-box-shadow: inset 0 0 6px white;
    color: black;
    background-color: black;
}

div.filmCard {
    width: 480px;
    height: 270px;
    overflow-x: hidden;
    margin-top: 70px;
    margin-left: 105px;
    border-radius: 10px;
    border: 1px solid white;
    display: inline-block;
    background-color: black;
}

    div.filmCard::-webkit-scrollbar {
        width: 6px;
        color: black;
        background-color: black;
    }

    div.filmCard::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px black;
        border: 2px solid white;
        border-radius: 10px;
        color: black;
        background-color: black;
    }

    div.filmCard::-webkit-scrollbar-thumb {
        border-radius: 10px;
        border: 2px solid white;
        -webkit-box-shadow: inset 0 0 6px white;
        color: black;
        background-color: black;
    }

input#deleteButton {
    background-color: grey;
    border-radius: 10px;
    color: white;
    border: 1px solid white;
    margin-left: 5px;
    margin-top: 5px;
}

    input#deleteButton:hover {
        background-color: red;
        border-radius: 10px;
        color: white;
        border: 1px solid white;
        margin-left: 5px;
        margin-top: 5px;
    }

div#filtersMenu {
    width: 1920px;
    height: 50px;
    margin-top: 150px;
}

input#filterButton {
    background-color: black;
    color: white;
    border-radius: 15px;
    border: 1px solid white;
    font-size: 18px;
}

    input#filterButton:hover {
        background-color: white;
        color: black;
        border-radius: 15px;
        border: 1px solid black;
    }

input.filter {
    background-color: black;
    color: white;
    border-radius: 15px;
    margin-left: 150px;
    border: 4px solid white;
}
